.log {
    margin: 10px;
    padding: 10px;
    border: 1px solid #acabaf9c;
    width: 200px;
    text-align: center;
}

.contain {
    padding: 10px;
    background-color: #fff; 
    box-shadow: 1px 2px 12px 1px #745fb51f;
    border-radius: 2px;
    margin: 30px ;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    color: black;
}

.main {
    text-align: center;
}